/* MenuPage.css */

body {
  margin: 0;
  padding: 0;
  font-family: "MedievalSharp", cursive;
}

.PageContainer.MenuPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../../assets/MenuPage/Menu Pg Background (1).png") no-repeat
    center center;
  background-size: cover;
}

.MenuPage .BackgroundImage,
.MenuPage .PercImage,
.MenuPage .BarTableImage,
.MenuPage .MenuSignImage,
.MenuPage .SignTextImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MenuPage .PercImage {
  z-index: 2;
}

.MenuPage .BarTableImage {
  z-index: 3;
}

.MenuPage .MenuSignImage {
  z-index: 4;
}

.MenuPage .SignTextImage {
  z-index: 5;
}

/* Update for buttons */
.MenuButtonContainer {
  position: absolute;
  z-index: 6;
  cursor: pointer;
}

/* Each button's width and height should match the original size of the image */
.MenuButtonContainer img {
  display: block;
  pointer-events: auto;
  width: 200px; /* Example size, replace with the actual width of your button images */
  height: 80px; /* Example size, replace with the actual height */
  object-fit: contain; /* Maintain aspect ratio */
}

/* Positioning the buttons separately */
.MenuPage .MenuButtonContainer:nth-child(1) {
  top: 50%; /* Position Button 1 */
  left: 40%;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuButtonContainer:nth-child(2) {
  top: 60%; /* Position Button 2 */
  left: 40%;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuButtonContainer:nth-child(3) {
  top: 70%; /* Position Button 3 */
  left: 40%;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuButtonContainer:nth-child(4) {
  top: 80%; /* Position Button 4 */
  left: 40%;
  transform: translate(-50%, -50%);
}
