/* MenuPage.css */

body {
  margin: 0;
  padding: 0;
  font-family: "MedievalSharp", cursive;
}

.PageContainer.MenuPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../../assets/MenuPage/Menu Pg Background (1).png") no-repeat
    center center;
  background-size: cover;
}

.MenuPage .BackgroundImage,
.MenuPage .PercImage,
.MenuPage .BarTableImage,
.MenuPage .MenuSignImage,
.MenuPage .SignTextImage,
.MenuPage .ButtonImage,
.MenuPage .ButtonImage2,
.MenuPage .ButtonImage3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MenuPage .PercImage {
  z-index: 2; /* Ensure the Perc image is above the background but below the bar table */
}

.MenuPage .BarTableImage {
  z-index: 3; /* Ensure the bar table is above the Perc image */
}

.MenuPage .MenuSignImage {
  z-index: 4; /* Ensure the sign is above the bar table */
}

.MenuPage .SignTextImage {
  z-index: 5; /* Ensure the text is above the sign */
}

.MenuPage .ButtonImage {
  z-index: 6; /* Ensure the button image is above the sign text */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MenuPage .ButtonImage2 {
  z-index: 6;
  top: 65%; /* Adjust as necessary */
  left: 50%;
  transform: translate(-50%, -50%);
}

.MenuPage .ButtonImage3 {
  z-index: 6;
  top: 80%; /* Adjust as necessary */
  left: 50%;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8; /* Ensure the text is above the button image */
  width: 100%;
  height: 100%;
}

.MenuPage .MenuText {
  color: white;
  font-size: 2vw; /* Adjust font size for better readability */
  margin: 0; /* Space between text */
  position: absolute; /* Ensure absolute positioning */
  width: auto; /* Adjust width as necessary */
  cursor: pointer; /* Ensure pointer cursor for clickable text */
}

.MenuPage .MenuText1 {
  top: 43% !important; /* Adjust as necessary to align with ButtonImage */
  left: 79.5% !important;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuText2 {
  top: 58% !important; /* Adjust as necessary to align with ButtonImage2 */
  left: 79.5% !important;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuText3 {
  top: 73% !important; /* Adjust as necessary to align with ButtonImage3 */
  left: 79.5% !important;
  transform: translate(-50%, -50%);
}

.MenuPage .MenuText:hover {
  color: black; /* Change text color on hover */
}
