body {
  margin: 0;
  padding: 0;
  font-family: "MedievalSharp", cursive;
}

.PageContainer.MenuPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../../assets/MenuPage/Menu Pg Background (1).png") no-repeat
    center center;
  background-size: cover;
}

/* Position all other assets */
.MenuPage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PercImage {
  z-index: 2;
}

.BarTableImage {
  z-index: 3;
}

.MenuSignImage {
  z-index: 4;
}

.SignTextImage {
  z-index: 5;
}

/* Button setup */
.MenuButtonContainer {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ButtonImage {
  width: auto;
  height: auto;
}

.MenuButtonContainer:hover .ButtonImage {
  content: url("../../assets/MenuAndButtons/Light up 1.png");
}
