.glow {
  font-family: "Pinyon Script", cursive;
}

.glow span {
  transition: text-shadow 2s ease-in-out, opacity 2s ease-in-out;
  opacity: 0; /* Start hidden */
}

.glow span.show {
  opacity: 1; /* Show when added */
}

.glow span:hover {
  text-shadow: 0 0 30px rgba(255, 69, 0, 1), 0 0 60px rgba(255, 69, 0, 1),
    0 0 90px rgba(255, 69, 0, 1), 0 0 120px rgba(255, 69, 0, 1),
    0 0 150px rgba(255, 69, 0, 1);
}
